@import url("/CSS/mainPageStyles.css");
@import url("/CSS/headerStyles.css");
@import url("/CSS/catalogStyles.css");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --bg-blue-color: #007ea7;
  --bg-all-color: #f7f6ff;
  --dark-blue-color: #003249;
  --light-blue-color: #0595c5;
}
body {
  margin: 0px;
  background-color: var(--bg-all-color);
  font-family: "Geologica", sans-serif;
}
button {
  background-color: var(--bg-blue-color);
  color: var(--white-color);
  border: none;
  width: fit-content;
  height: auto;
}
