#mainPage {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

#bigLogoMain {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bigLogoMain img {
  max-width: 100%;
  height: auto;
}

#mainPage > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sloganMain {
  font-size: 2.5rem;
  font-weight: bold;
}
#descriptionMain {
  font-size: 1.1rem;
  font-weight: normal;
  opacity: 0.8;
}
#toAboutButton {
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 2rem;
  padding: 1rem;
  width: fit-content;
  height: auto;
  font-size: large;
  background-color: var(--bg-blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 7px;
}
